body {
    background-color: #F0C4FF;
    font-family: 'inter', sans-serif;
}

h1, p, h3 {
    margin: 0;
    padding: 0; 
}

h1 {
    font-size: 40px;
    color: black;
}

h3 {
    font-size: 20px;
    color: black;
}

p {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.new-book {
    padding: 16px 24px;
    background-color: black;
    color: white;
    border-style: none;
    font-size: 18px;

    position: fixed;
    bottom: 28px;
    left: 50%;
    transform: translateX(-50%);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

dialog {
    background-color: black;
    padding: 24px;
    border: none;
}

dialog[open] {
    margin-top: 50px;
    margin-bottom: auto;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

p.input-header {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

input {
    box-sizing: border-box;
    width: 300px;
    height: 36px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
    background-color: #F0C4FF;
    color: black;
    border: none;
    padding: 8px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.4); 
    font-size: 16px;
    font-weight: 500;
    font-style: italic; 
}

input:focus {
    outline: none; 
    border: none;   
}

p.checkbox-header {
    font-size: 18px;
    color: white;
    font-weight: 500;
}

input#read {
    width: 32px;
    height: 32px;
    border-style: none;
    border-radius: 6px;
}

input#read:checked {
    background-color: #F0C4FF;
}

.checkbox-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.submit {
    background-color: #F0C4FF;
    height: 40px;
    border-style: none;
    font-size: 16px;
    font-weight: 550;
}

.cards-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.1fr));
}

.card {
    background-color: #EBEEFA;
    box-shadow: 8px 8px black;
    border-style: none;
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    min-height: 180px;
}

.title-flex {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-flex {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.buttons-flex {
    display: flex;
    gap: 8px;
}